.btn {
 


    background: linear-gradient(rgb(255, 254, 254) 0 0) padding-box,
    linear-gradient(90deg, rgba(255,154,0,1) 0%, rgba(216,0,207,1) 22%, rgba(23,147,0,1) 52%, rgba(56,57,0,1) 91%, rgba(255,196,0,1) 100%);
 padding: 23px 57px 23px 57px;
 border: 5px solid transparent;
 border-radius: 50px;
 width: 188px;
 height: 75px;
 font-size: 20px;
 text-decoration: none;
 font-weight: 600;
 color: black;
 
}