.btn {
 


    background: linear-gradient(rgb(255, 254, 254) 0 0) padding-box,
    $linear;
 padding: 23px 52px 23px 52px;
 border: 5px solid transparent;
 border-radius: 100px;
 width: 188px;
 height: 75px;
 font-size: 20px;
 text-decoration: none;
 font-weight: 600;
 color: black;
 
}