@import "./base/reset";
@import "./base/variables";
@import "./atoms/btn";
@import "./mixin/mixin";










@import "./elements/container";
@import "./elements/header";
@import "./elements/hero"; 
@import "./elements/upsell"; 
@import "./elements/press";


body {
    font-family: $font-family;
    margin: 0 auto;

   
    
    
    

    @include xm {
        max-width: 768px;
    };

    @include xl {
        max-width: 1024px;
    };

    @include xxl {
        max-width: 1440px;
    };
}