/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End reset styles */
/* Fonts */
/* Colors */
.btn {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  width: 188px;
  height: 75px;
  border: 4px solid;
  border-radius: 100px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgb(255, 154, 0) 0%, rgb(216, 0, 207) 22%, rgb(23, 147, 0) 52%, rgb(56, 57, 0) 91%, rgb(255, 196, 0) 100%);
  background-color: #FFFFFF;
}

.container {
  background-color: #FFFFFF;
  max-width: 428px;
  width: 100%;
  margin: 0 auto;
  contain: content;
  align-items: center;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.header {
  padding: 32px 32px 0 32px;
  margin: 0 auto;
  width: 100vw;
  max-width: 364px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header {
    max-width: 700px;
    padding: 32px 34px 0 34px;
  }
}
@media (min-width: 1024px) {
  .header {
    max-width: 900px;
    padding: 40px 62px 0 62px;
  }
}
@media (min-width: 1440px) {
  .header {
    max-width: 1280px;
    padding: 70px 80px 0 80px;
  }
}
.header__nav--img1 .img1_hover:hover {
  background-color: black;
}
@media (min-width: 1024px) {
  .header__nav--img1 {
    visibility: hidden;
    position: absolute;
  }
}
.header__nav--img2 {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
@media (min-width: 1024px) {
  .header__nav--img2 {
    visibility: visible;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .header__nav--img2 {
    visibility: hidden;
    position: absolute;
  }
}
.header__nav--list {
  visibility: hidden;
  position: absolute;
}
.header__nav--list a {
  text-decoration: none;
  color: #555555;
  font-size: 20px;
  padding-right: 28px;
}
.header__nav--list a:last-child {
  color: #FF3998;
  padding-right: 0;
}
@media (min-width: 1440px) {
  .header__nav--list {
    visibility: visible;
    position: relative;
  }
}

.hero {
  padding: 80px 32px 0 32px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.hero_textbox {
  width: 274px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.hero_textbox-lounching {
  color: #FF3998;
  font-weight: 700;
  padding-bottom: 24px;
}
.hero_textbox-header {
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 24px;
}
.hero_textbox-text {
  font-size: 20px;
  color: #555555;
  line-height: 1.5;
  padding-bottom: 32px;
}

.hero_img {
  overflow: hidden;
  position: absolute;
  top: -100px;
  left: 240px;
}
.hero_img-pic {
  width: 354px;
  height: 561px;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}
@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {
  body {
    max-width: 1440px;
  }
}/*# sourceMappingURL=style.css.map */